{{<base-template}}
{{$head}}
{{/head}}
{{$title}}not found{{/title}}
{{$body}}

  <div class="bs-docs-section clearfix">
    <div class="row">
      <div class="col-lg-12">
        

        <div class="bs-component" style="margin-top: 50px">
          <img class="img-responsive center-block" src="/assets/img/404.png">
          <br>
          <p class="pull-right">
            This image is part of the <a href="https://w3layouts.com/ohh-under-construction-mobile-website-template/">"Ohh 404" template</a>.
          </p>
        </div>
      </div>
    </div>
  </div>


{{/body}}
{{$foot}}
{{/foot}}

{{/base-template}}