<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" immediate="true" name="ErrorExceptionMapper">
   <implementation class="com.eclipsesource.connect.mvc.internal.ErrorExceptionMapper"/>
   <service>
      <provide interface="com.eclipsesource.connect.mvc.internal.ErrorExceptionMapper"/>
   </service>
</scr:component>
